<a href="https://colab.research.google.com/github/sheikmohdimran/Experiments_2020/blob/master/Collaborative_Inversion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
## The python interface does not have pandas installed, however the code below works in a Google Colab.
## No modification done to the objective, except that the inputs are hardcoded, instead of getting in rutime.
## Steps:
## The input data is converted to a pandas dataframe
## A seperate function "getInvCount" is used to calculate the inversions of a given array
## The function "inversion", coverts the first column to dict. Then inverts the dict to map variables to sequential numbers, 
## instead of other way around. Then based on this, it replaces every other occurance of the values with corresponding numbers.
## After excluding the first column, a loop gets the inversion count, along with column name of every column in the 
## dataframe and appends to a list. This list is later converted to a dataframe, sorted in ascending order by the count and 
## the column names are printed as output display.

import pandas as pd

data1=pd.DataFrame({"rabbit":["carrot","cabbage","fish","meat"],
"turtle":["cabbage","carrot","fish","meat"],
"cat":["fish","meat","carrot","cabbage"],
"dog":["meat","fish","cabbage","carrot"]})

data2=pd.DataFrame({"Smith":["helicopter","car","motorcycle","bicycle","bus"],
"Johnson":["bus","helicopter","motorcycle","car","bicycle"],
"Williams":["bicycle","helicopter","car","motorcycle","bus"],
"Jones":["helicopter","bicycle","motorcycle","car","bus"],
"Brown":["bus","motorcycle","helicopter","bicycle","car"],
"Davis":["motorcycle","bus","car","bicycle","helicopter"],
"Miller":["bicycle","helicopter","car","bus","motorcycle"],
"Wilson":["helicopter","car","bicycle","bus","motorcycle"]})

data3= pd.DataFrame({"James":["Avengers","Captain Marvel","Dumbo","Shazam","Hellboy","Joker","Spider-Man","Aladdin","Toy Story","Dark Phoenix"],
"Oliver":["Aladdin","Captain Marvel","Hellboy","Avengers","Toy Story","Spider-Man","Dark Phoenix","Joker","Dumbo","Shazam"],
"Sophia":["Toy Story","Dark Phoenix","Aladdin","Joker","Captain Marvel","Hellboy","Dumbo","Shazam","Avengers","Spider-Man"],
"Jacob":["Dumbo","Avengers","Spider-Man","Dark Phoenix","Hellboy","Joker","Aladdin","Captain Marvel","Shazam","Toy Story"],
"Olivia":["Dumbo","Spider-Man","Aladdin","Toy Story","Avengers","Hellboy","Dark Phoenix","Shazam","Joker","Captain Marvel"],
"William":["Captain Marvel","Joker","Toy Story","Avengers","Aladdin","Hellboy","Shazam","Dark Phoenix","Spider-Man","Dumbo"]})

def getInvCount(arr, n): 
    inv_count = 0
    for i in range(n): 
        for j in range(i + 1, n): 
            if (arr[i] > arr[j]): 
                inv_count += 1
    return inv_count 

def inversion(df1):
  dict1=df1.iloc[:, 0].to_dict()
  inv_dict1 = dict(zip(dict1.values(), dict1.keys()))
  for i in range(len(df1.columns)):
    df1=df1.replace({df1.columns[i]: inv_dict1}) 
  
  lst=list()
  for i in range(1,len(df1.columns)):
    arr = list(df1[df1.columns[i]])
    n = len(arr)
    a=df1.columns[i], getInvCount(arr, n) 
    lst.append(a) 

  out_df=pd.DataFrame(lst).sort_values(by=[1])
  return(list(out_df[0]))

print(inversion(data1))
print(inversion(data2))
print(inversion(data3))

['turtle', 'cat', 'dog']
['Wilson', 'Williams', 'Jones', 'Miller', 'Johnson', 'Brown', 'Davis']
['Jacob', 'William', 'Oliver', 'Olivia', 'Sophia']